/* .wrapper {
  margin-bottom: 10px;
  border: 1px solid midnightblue;
  width: 300px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 10px auto;
  border-radius: 5px;
} */

.reviewList {
  margin-top: 40px;
}
